{{ define "main" }}
<div class="container">
    <article>
        <header class="article-header">
            <div class="thumb">
                <div>
                    <h1>Page not found</h1>
                </div>
            </div>
        </header>
    </article>

    <div class="article-post">
        Sorry, the page you were looking for was not found.
    </div>
</div>
{{ if or (not (isset .Params "comments")) (eq .Params.comments "true")}} 
<div class="container">
    {{ partial "comments/include" . }}
</div>
{{ end }}
</main>

{{ end }}
